.topArrangment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.panelDiv{
    background-color: lightblue;
    border-radius: 30px;
    color: white;
}
.fotoDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.deleteCircularDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}